/*------------------------
        body Style 
------------------------*/
body {
    font-family: 'Poppins', sans-serif;
}

/*------------------------
         Main 
------------------------*/
.main_container {
    width: 80%;
    margin: auto;
}

/*------------------------
         Home_page 
------------------------*/
.home_page {
    height: 600px;
    color: white;
    margin-bottom: 200px;
}

.home_page_bg {
    height: 100%;
    background-image: url('/images/donation5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.home_page_text {
    width: 50%;
    color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 2;
    text-align: center;
}

.home_page_text h1 {
    font-size: 65px;
}

.home_page_text p {

    font-size: 18px;
    margin-bottom: 50px;
}

.button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FF5959;
    padding: 20px;
    border-radius: 10px;
}


/*------------------------
      Donate Today 
------------------------*/
.donate_today {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 200px;
}

.donate_today h2 {
    font-size: 45px;
}

.donate_today p {
    font-size: 18px;
}

.donation_amount {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.donation_amount p {
    height: 120px;
    width: 135px;
    background-color: #FAFAFA;
    border-radius: 5px;
    line-height: 120px;
    margin: 15px;
    font-weight: bold;
    color: #707070;
}

#colored_amount {
    border: 2px solid #FF5959;
    border-radius: 5px;
    background-color: #FFEEEE;
    color: #FF5959;
}

.other_amount p {
    color: #707070;
}

hr {
    margin-bottom: 30px;
}